# Go
pgpageshell
*.exe
*.test
*.out

# Frontend
frontend/node_modules/
frontend/dist/
web/node_modules/
web/dist/
.pnpm-store/

# GoReleaser
dist/

# Editor / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
web/tsconfig.tsbuildinfo
frontend/tsconfig.tsbuildinfo
